.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.menu , .Quiz, .Score{
  width: 500px;
  height: 500px;
  background: lightblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu button, .Quiz button, .Score button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.menu button:hover, .Quiz button:hover, .Score button:hover{
  background: orange;
  color: white;
}
